@model ImageServiceWeb.Models.OnePhoto

@{
    ViewBag.Title = "Photo Delete";
}

<h1> Photo's name: @Model.Name</h1><b1></b1>
<img src="@Url.Content(Model.RelPath)" width="200" height="200">


<h2>Are you sure you want to delete?</h2>
<br /><br />
<p>
    <a href="@Url.Action("AcceptDeletion", new { photoView = Model.RelPathWithoutThumb })" class="btn btn-info btn-xs" id="viewButton" role="button">Yes</a>
    <a href="@Url.Action("Photos")" class="btn btn-danger btn-xs" role="button">No</a>
</p>