@model ImageServiceWeb.Models.OnePhoto
@{
    ViewBag.Title = "PhotoView";
}

<h1> Photo's name: @Model.Name</h1><b1></b1>
<h1> Year: @Model.PhotoYear</h1><b1></b1>
<h1> Month: @Model.PhotoMonth</h1><b1></b1>

<img src="@Url.Content(Model.RelPathWithoutThumb)" width="400" height="400">