<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerPort" value="4444"/>
    <add key="Handler" value="C:\Thailand 2016;C:\Brazil 2020;C:\DorNissim;C:\EladAharon;C:\Maldives 2018"/>
    <add key="OutputDir" value="C:\My Awesome Software"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="MyLogFile1"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>