@model ImageServiceWeb.Models.LogsModel
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<table class="table">

    @foreach (var item in Model.Logs)
    {
        <tr>
            <td>
                <select name="type">
                    <option value="">ALL</option>
                    <option value="INFO">INFO</option>
                    <option value="FAIL">FAILL</option>
                    <option value="WARNING">WARNING</option>
                </select>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>