@model ImageServiceWeb.Models.ConfigModel

@{
    ViewBag.Title = "CheckDeletion";
}

<h2>Check Deletion of this handler</h2>

@*<script>
    $("#buttonOk").click(function () {
        $.post("@Url.Action("DeleteOK")", function () {
            window.location.href = "Config";

        });
    });

    $("#buttonCancelation").click(function () {
        window.location.href = "Config";

    })
</script>*@
@Html.ActionLink("OK", "DeleteOK", "Config")
@Html.ActionLink("Cancel", "DeleteCancel", "Config")


